@model IEnumerable<exam.Models.User>

<h2>Students</h2>

<hr />
<div id="studentDetails"></div>
<div id="studentCreate"></div>
<div id="studentEdit"></div>
<div id="studentDelete"></div>

@Ajax.ActionLink("Create New Student", "CreateStudentPartial", new AjaxOptions
   {
       UpdateTargetId = "studentCreate",
       InsertionMode = InsertionMode.Replace
   })

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Usertype</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
        <tr>
            <td>@s.ID</td>
            <td>@s.Name</td>
            <td>@s.Email</td>
            <td>@s.Password</td>
            <td>@s.UserType</td>
            <td>


            <button class="btn btn-default">
                <i class="fa fa-info" aria-hidden="true"></i>
                @Ajax.ActionLink("Details", "Details", new { id = s.ID }, new AjaxOptions
                {
                    UpdateTargetId = "studentDetails",
                    InsertionMode = InsertionMode.Replace
                })
            </button>

            <button class="btn btn-default">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                @Ajax.ActionLink("Edit", "Edit", new { id = s.ID }, new AjaxOptions
                {
                    UpdateTargetId = "studentEdit",
                    InsertionMode = InsertionMode.Replace
                })
            </button>

            <button class="btn btn-default">
                <i class="fa fa-trash" aria-hidden="true"></i>
                @Ajax.ActionLink("Delete", "Delete", new { id = s.ID }, new AjaxOptions
                    {
                        UpdateTargetId = "studentDelete",
                        InsertionMode = InsertionMode.Replace
                    })
            </button>

</td>
        </tr>
        }
    </tbody>
</table>


