@*@model IEnumerable<exam.Models.Assignment> *@
@model exam.ViewModels.StudentViewModel

<h2>Assignments</h2>

<button class="btn btn-default" id="helpBtn">HELP</button>
<table class="table">
    <thead>
        <tr>
            <th> @*Html.DisplayNameFor(model => model.Title)*@ Id </th>
            <th> Title </th>
            <th> Description </th>
            <th> Start </th>
            <th> </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Assignments)
        {
        <tr>
            <td>@item.ID</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>
                @Html.RadioButton("Start", @item.ID)
            </td>
            <td>
                <button class="btn btn-default hideData" value="@item.ID">Done</button>
            </td>

        </tr>
        }
       
    </tbody>
</table>

@*@Html.DisplayFor(m => m.User.Name)

@foreach (var item in Model.Assignments)
{
    @Html.DisplayFor(m => item.Title)
}*@

<p id="user">@Html.DisplayFor(m => m.User.ID)</p>

@Html.HiddenFor(m => m.User.ID)



@section scripts
{   
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script> 
    <script src="~/Scripts/StudentAssignmentJs.js"></script>

    <script>

        var helplistHub = $.connection.helplistHub;

        $.connection.hub.start().done(function ()
        {
            console.log("signalR started");
        });

        helplistHub.client.hello = function ()
        {
            console.log("Hello from the server");
        }

        $("#helpBtn").click(function ()
        {

            var theUser = $("#User_ID").val();
            console.log(theUser);

            if (document.getElementById('Start').checked)
            {
                var assignmentId = document.getElementById('Start').value;
                console.log("Id fetched");
            }
            else
            {
                console.log("ERROR - NO CHECKED VALUE");
            }

            helplistHub.server.addToHelplist(theUser, assignmentId);

        });

    </script>
}