@model IEnumerable<exam.Models.User>

<h1>Students</h1>

<button type="button" class="btn btn-success" onclick="createStudent()">Create New Student</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Usertype</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
        <tr>
                <td>@s.ID</td>
                <td>@s.Name</td>
                <td>@s.Email</td>
                <td>@s.Password</td>
                <td>@s.UserType</td>
        </tr>
        }
    </tbody>
</table>


