@model IEnumerable<exam.Models.User>

<h1>Students</h1>

<button type="button" class="btn btn-success" id="addStudentBtn">@Html.ActionLink("Create new student", "Create")</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Usertype</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.ID</td>
                <td>@s.Name</td>
                <td>@s.Email</td>
                <td>@s.Password</td>
                <td>@s.UserType</td>
                
                <td>
                    <button type="button" class="btn btn-default" id="editStudentBtn">
                        <i class="fa fa-pencil" aria-hidden="true">
                        </i>
                    </button> 
                    
                    <button type="button" class="btn btn-default" id="deleteStudentBtn">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
           </tr>
        }
    </tbody>
</table>
